/* src/app/home/home.page.scss */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600;1,700&display=swap');

.custom-bg {
  --background: #f6f8fb;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header logo layout */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Icon style */
.logo-icon {
  font-size: 1.6rem;
  color: #fff;
}

.logo-text {
  font-size: 25px; 
  font-weight: 650; 
  font-style: italic;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(45deg, #fef5f2e3, #b2493d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 0.8px;
  text-transform: capitalize;
}

ion-content {
  padding: 0;
}




